# -----------------------------------------------------------------
# Git ignored resource file
# Copyright (C) 2014-2022 Taku Watabe
# Time-stamp: <2022-09-14T22:09:56+09:00>
# -----------------------------------------------------------------
.AppleDouble
.DS_Store
.LSOverride
.cache
.emacs.desktop
.emacs.desktop.lock
Thumbs.db
custom.el
el-get
eln-cache
elpa
lsp-cache
site-lisp
snippets
transient
url
